:root {
  --number-representation-min-width: 6ch;
}

html, body {
  font-size: 12px;
}

body {
  font-family: 'Open Sans', sans-serif;

  /* This is so we can set a border for the popup (see below). I'd be glad to apply it to `html`
  instead of `body`, but in Chromium there appears to be a bug – the bottom border is not displayed.
  It appears to be related to the fact that it's truncated because the width of the border is not taken into account
  when the height of the popup is calculated - try setting `margin-top: -5px;` on html and you'll see it.
  TODO report/fix it. */
  margin: 0;
  padding: 0.625rem;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    /* Otherwise (at least in Chromium) the border is not enough pronounced on dark-themed websites,
    which may get fixed later. On light-themed the default is fine though. */
    border: 1px solid #585858;
    border: none;
  }
}
